<ion-header>
  <ion-toolbar>
    <ion-title>
     Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
<ion-input type='text' [(ngModel)]="userName"></ion-input>
</ion-item>
<ion-item>
<ion-label position="floating">Password</ion-label>
  <ion-input type='password' [(ngModel)]="password"></ion-input>
</ion-item>
  <ion-button shape="round" expand="full" color="primary" (click)="clickLogin()">Login</ion-button>
