<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>
          Customers List
      </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-card *ngFor="let c of list">
      
    <ion-card-header>
      <ion-card-title>{{c.name}}
       <ion-icon name="trash" (click)="onDelete(c.id)"></ion-icon>
       <ion-icon name="create" (click)="onEdit(c)"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
          <ion-label>{{c.email}}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>{{c.phone}}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>{{c.address}}</ion-label>
      </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-content>